<h1>Admin Dashboard</h1>


<div class="panel panel-default items">
<table class="table table-bordered">
<thead>
<tr>
  <th>Total Products</th>
  <th>Total Categories</th>
</tr>
<td><%= @total_products %></td>
    <td><%= @total_categories %></td>
</thead>
</table>
</div>