
<header class="page-header">
<h1>About Us</h1>
</header>
<h1>Welcome to Jungle!</h1>
<h2>Pictured below is Jungle's CEO: Roo.</h2>
<img src="https://i2-prod.mirror.co.uk/incoming/article25609246.ece/ALTERNATES/n615/0_PUSS-IN-BOOTS.jpg">